/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Record Music Event Multipurpose
Version:    1.0.0

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
1. All common core files (Variables / colors / bootstrap )
2- Plugins
3- Panel Components
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. All common core files]
*/
//// Necessary Modules
@import 'basic/variables';


@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "../../node_modules/node-snackbar/dist/snackbar.min";
@import '../fonts/lineicons/lineicons';
@import '../fonts/roboto/roboto';

@import "../../node_modules/slick-carousel/slick/slick";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";

// // @font-face {
//     font-family: 'lineicons';
//     src: url('../fonts/lineicons.ttf') format('embedded-opentype'),
//     url('../fonts/lineicons.ttf') format('truetype'),
//     url('../fonts/lineicons.woff') format('woff'),
//     url('../fonts/lineicons.svg') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'lineicons';
//     src: url('./fonts/lineicons.ttf') format('embedded-opentype'),
//     url('../fonts/lineicons.ttf') format('truetype'),
//     url('../fonts/lineicons.woff') format('woff'),
//     url('../fonts/lineicons.svg') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }



// /*--Responsive Helpers-------------------------------------------------*/
@import "basic/responsive-helper";
// // /*--Nav-------------------------------------------------*/
@import "basic/navDefault";
// // /*--Functions-------------------------------------------------*/
@import 'basic/mixins';
// // /*--Base-------------------------------------------------*/
@import "basic/base";
// // /*--Breadcrumbs-------------------------------------------------*/
@import "basic/breadcrumbs";
// // /*--Fiqures-------------------------------------------------*/
@import "basic/figure";
// // /*--Pre loader-------------------------------------------------*/
@import "basic/preloader";
// // /*--Social-------------------------------------------------*/
@import "basic/social";
// // /*--Helpers-------------------------------------------------*/
@import "basic/helper";
// // /*--Colors-------------------------------------------------*/
@import "libs/colors";
// // /*--LightSlider-------------------------------------------------*/
@import "components/slickSlider";
// // /*------------------------------------------------------------------
// // /*--Letter Avatars-------------------------------------------------*/
@import "libs/letters";
// // /*--Components-------------------------------------------------*/
@import "components/_nav";
@import "components/player";
@import "components/_xvslider";
@import "components/_forms";
@import "components/_forms-material";
@import "components/sidebarMenu";
@import "components/shortcodes";
@import "components/services";
@import "components/sticky";
@import "components/counter";
@import "components/nav";
@import "components/hero";
@import "components/control-sidebar";
@import "components/timeline";
@import "components/preloaders";
@import "components/search";
@import "basic/overlay";
@import "basic/card";
@import "basic/theme-dark";
@import "templates/template-contact";
@import "basic/rtl";



.r-conainter{
    max-width: 1780px;
    margin: 0 auto;
}





.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }



  /* / ## Share Plugin --------------------------------------------- */
.s-plugins {
  position: relative;
}
.s-plugins .s-icon {
  font-size: 24px;
}
.sharer-bar {
  margin-top: -70px;
  transform-origin: 0 0 0;
  background: #000;
  border-radius: 3px;
  padding: 6px;
  font-size: 20px;
  opacity: 0;
  transition: all 0.4s ease 0s;
  visibility: hidden;
  position: absolute;
  left: -47px;
  right: 0;
  width: 150px;
  z-index: 1;
}
.sharer-bar.active {
  transform: scale(1) translateY(-10px);
  opacity: 1;
  transition: all 0.4s ease 0s;
  visibility: visible;
}




/*====*/

.music_pseudo_bars {
  display: block;
  height: 30px;
  left: 10px;
  margin: -15px 0 0 0;
  position: absolute;
  top: 50%;
  width: 80px;
}

.music_pseudo_bar {
  background: #ff1744;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 28px;
  }
}

.music_pseudo_bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.music_pseudo_bar:nth-child(2) {
  left: 5px;
  animation-duration: 433ms;
}
.music_pseudo_bar:nth-child(3) {
  left: 9px;
  animation-duration: 407ms;
}
.music_pseudo_bar:nth-child(4) {
  left: 13px;
  animation-duration: 458ms;
}
.music_pseudo_bar:nth-child(5) {
  left: 17px;
  animation-duration: 400ms;
}
.music_pseudo_bar:nth-child(6) {
  left: 21px;
  animation-duration: 427ms;
}
.music_pseudo_bar:nth-child(7) {
  left: 25px;
  animation-duration: 441ms;
}
.music_pseudo_bar:nth-child(8) {
  left: 29px;
  animation-duration: 419ms;
}
.music_pseudo_bar:nth-child(9) {
  left: 33px;
  animation-duration: 487ms;
}
.music_pseudo_bar:nth-child(10) {
  left: 37px;
  animation-duration: 442ms;
}

.music_pseudo_bar:nth-child(11) {
  left: 41px;
  animation-duration: 474ms;
}
.music_pseudo_bar:nth-child(12) {
  left: 45px;
  animation-duration: 433ms;
}
.music_pseudo_bar:nth-child(13) {
  left: 49px;
  animation-duration: 407ms;
}
.music_pseudo_bar:nth-child(14) {
  left: 53px;
  animation-duration: 458ms;
}
.music_pseudo_bar:nth-child(15) {
  left: 57px;
  animation-duration: 400ms;
}
.music_pseudo_bar:nth-child(16) {
  left: 61px;
  animation-duration: 427ms;
}
.music_pseudo_bar:nth-child(17) {
  left: 65px;
  animation-duration: 441ms;
}
.music_pseudo_bar:nth-child(18) {
  left: 69px;
  animation-duration: 419ms;
}
.music_pseudo_bar:nth-child(19) {
  left: 73px;
  animation-duration: 487ms;
}
.music_pseudo_bar:nth-child(21) {
  left: 77px;
  animation-duration: 442ms;
}

.track-artists .icon-add {
  font-size: 9px;
}

.fav-count {
  background: #ff1744;
  color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  line-height: 15px;
  text-align: center;
  top: -6px;
  left: 17px;
  font-size: 9px;
}


/* Switch 3 Specific Style Start */

.toggle_switch {
  width: 60px;
  height: 25px;
  position: relative;
}

input[type="checkbox"].switch_3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}

svg.checkbox .outer-ring {
  stroke-dasharray: 375;
  stroke-dashoffset: 375;
  -webkit-animation: resetRing 0.35s ease-in-out forwards;
  animation: resetRing 0.35s ease-in-out forwards;
}

input[type="checkbox"].switch_3:checked + svg.checkbox .outer-ring {
  -webkit-animation: animateRing 0.35s ease-in-out forwards;
  animation: animateRing 0.35s ease-in-out forwards;
}

input[type="checkbox"].switch_3:checked + svg.checkbox .is_checked {
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0deg);
  transform: translateX(0) rotate(0deg);
}

input[type="checkbox"].switch_3:checked + svg.checkbox .is_unchecked {
  opacity: 0;
  -webkit-transform: translateX(-200%) rotate(180deg);
  transform: translateX(-200%) rotate(180deg);
}

svg.checkbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg.checkbox .is_checked {
  opacity: 0;
  fill: #ff1744;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateX(200%) rotate(45deg);
  transform: translateX(200%) rotate(45deg);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

svg.checkbox .is_unchecked {
  opacity: 1;
  fill: #ff1744;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateX(0) rotate(0deg);
  transform: translateX(0) rotate(0deg);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

@-webkit-keyframes animateRing {
  to {
    stroke-dashoffset: 0;
    stroke: #9ca8b0;
  }
}

@keyframes animateRing {
  to {
    stroke-dashoffset: 0;
    stroke: #9ca8b0;
  }
}

@-webkit-keyframes resetRing {
  to {
    stroke-dashoffset: 0;
    stroke: #9ca8b0;
  }
}

@keyframes resetRing {
  to {
    stroke-dashoffset: 0;
    stroke: #9ca8b0;
  }
}

/* Switch 3 Specific Style End */
