.player-bar {
  button{
    box-shadow: none !important;
    outline: none;
  }
  @include tablet-and-phone {
    width: auto;
  }
  .btn-link {
    text-decoration: none;
  }

}

#waveform {
  height: 50px;
  @include phone {
    display: none;
  }

}
wave{
  overflow: hidden !important;;
}
.icon-pause::before {
  content: "\e9e5" !important;
}

.btn-playlist{
  position: relative;
}
.counter{
  background: $primary;
  width: 15px;
  height: 15px;
  color: white;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  top: -10px;
  right: 0;

}


#track-video{
  position: absolute;
  right: 30px;
  bottom: 78px;
  width: 300px;
  display: none;
  
}

@media (max-width: 768px) { 
  
#track-video{
  display: none !important;
}
.player-mini{
  position: absolute;
  top: -38px;
  background: #212327;
  padding: 10px 20px;
  border-radius: 29px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
}

.track-delete{
  position: absolute;
  right: 10px;
  bottom: 10px;
}


/*====*/

.music_pseudo_bars {
  display: block;
  height: 30px;
  left: 10px;
  margin: -15px 0 0 0;
  position: absolute;
  top: 50%;
  width: 80px;
}

.music_pseudo_bar {
  background: #ff1744;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 28px;
  }
}

.music_pseudo_bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.music_pseudo_bar:nth-child(2) {
  left: 5px;
  animation-duration: 433ms;
}
.music_pseudo_bar:nth-child(3) {
  left: 9px;
  animation-duration: 407ms;
}
.music_pseudo_bar:nth-child(4) {
  left: 13px;
  animation-duration: 458ms;
}
.music_pseudo_bar:nth-child(5) {
  left: 17px;
  animation-duration: 400ms;
}
.music_pseudo_bar:nth-child(6) {
  left: 21px;
  animation-duration: 427ms;
}
.music_pseudo_bar:nth-child(7) {
  left: 25px;
  animation-duration: 441ms;
}
.music_pseudo_bar:nth-child(8) {
  left: 29px;
  animation-duration: 419ms;
}
.music_pseudo_bar:nth-child(9) {
  left: 33px;
  animation-duration: 487ms;
}
.music_pseudo_bar:nth-child(10) {
  left: 37px;
  animation-duration: 442ms;
}

.music_pseudo_bar:nth-child(11) {
  left: 41px;
  animation-duration: 474ms;
}
.music_pseudo_bar:nth-child(12) {
  left: 45px;
  animation-duration: 433ms;
}
.music_pseudo_bar:nth-child(13) {
  left: 49px;
  animation-duration: 407ms;
}
.music_pseudo_bar:nth-child(14) {
  left: 53px;
  animation-duration: 458ms;
}
.music_pseudo_bar:nth-child(15) {
  left: 57px;
  animation-duration: 400ms;
}
.music_pseudo_bar:nth-child(16) {
  left: 61px;
  animation-duration: 427ms;
}
.music_pseudo_bar:nth-child(17) {
  left: 65px;
  animation-duration: 441ms;
}
.music_pseudo_bar:nth-child(18) {
  left: 69px;
  animation-duration: 419ms;
}
.music_pseudo_bar:nth-child(19) {
  left: 73px;
  animation-duration: 487ms;
}
.music_pseudo_bar:nth-child(21) {
  left: 77px;
  animation-duration: 442ms;
}

.track-artists .icon-add {
  font-size: 9px;
}

.fav-count {
  background: #ff1744;
  color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  line-height: 15px;
  text-align: center;
  top: -6px;
  left: 17px;
  font-size: 9px;
}



  /* / ## Share Plugin --------------------------------------------- */
  .s-plugins {
    position: relative;
  }
  .s-plugins .s-icon {
    font-size: 24px;
  }
  .sharer-bar {
    margin-top: -70px;
    transform-origin: 0 0 0;
    background: #000;
    border-radius: 3px;
    padding: 6px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    position: absolute;
    left: -47px;
    right: 0;
    width: 150px;
    z-index: 1;
  }
  .sharer-bar.active {
    transform: scale(1) translateY(-10px);
    opacity: 1;
    transition: all 0.4s ease 0s;
    visibility: visible;
  }
  
  
  
  