.player-bar {
  @include tablet-and-phone {
    width: auto;
  }
  .btn-link {
    text-decoration: none;
  }

}

#waveform {
  height: 50px;
  @include phone {
    display: none;
  }
}

.icon-pause::before {
  content: "\e9e5" !important;
}

.btn-playlist{
  position: relative;
}
.counter{
  background: $primary;
  width: 15px;
  height: 15px;
  color: white;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 15px;
  font-size: 10px;
  top: -10px;
  right: 0;

}